nodeJsSample/node_modules/

#ty generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
BuildNoBod/
ProfileBuild/
ProfileBuildNoBod/
[Ll]ibrary/
sysinfo.txt
blender.crash.txt
tetherskrt/Assembly*
tetherskrt/Library/**
tetherskrt/Library/*/*
tetherskrt/Library/*/*/*
Assets/StreamingAssets/*
.vs
*/*.sln
*/*.app
**mongo_credentials.txt
**.sf2

# ==================== #
# Sublime Generated    #
# ==================== #
**/sftp-config.json
**/sftp-config.json.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
**/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
